<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="{{ url_for('static', filename='js/facts.js') }}" ></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img src="https://ih1.redbubble.net/image.1048358982.2444/flat,750x,075,f-pad,750x1000,f8f8f8.u1.jpg" alt="" srcset="" width="50px" height="50px">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Новости<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active" href="/facts">Факты</a>
          <a class="nav-item nav-link active" href="/w2v">Синонимы</a>
        </div>
      </div>
    </nav>
  </div>
    <div class="container">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Facts</th>
            <th scope="col">Links</th>
          </tr>
        </thead>
        <tbody>
          {% for message in facts %}
          <tr>
            <th scope="row" class = "rows">{{loop.index0 +1 }}</th>
            <td>
            {% for fact in message.newsWithMention %}
            {{fact}}<br>
            {% endfor %}
        </td>
            <td><a href="/news/{{message._id}}">Link</a></td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
      <button type="button" id="moreFacts"class="btn btn-info btn-lg btn-block">Еще....</button>
    </div>
   
</body>
</html>