<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <p class="text-center">{{news.newsName}}<a href="{{news.newsLink}}" target="_blank" >(ссылка)</a></p>
        <p class="text-justify">{{news.newsText}}</p>
        <p class="text-right">{{news.newsDate}}</p>
          {% if facts != 0 %}
              {% for fact in facts%}
                {{loop.index0+1}}. {{fact}}({{tonal[loop.index0]}})<br>
              {% endfor %}
          {% else %}
              Фактов нету
          {% endif %}
    </div>


</body>
</html>